.iconlar{
    font-size: 50px;
}

.fontt{
    font-family: 'Roboto Mono', monospace;
}

.resimSlider{

    height: 700px;
    margin-bottom: 25px;
}

.slider {
    width: 1000px; 
    height: 700px; 
    overflow: hidden; 
}

.renk{
    background-color: #DCDCDC;
}

.renk2{
    background-color: white;
}

.ortalama{
    margin-top: 265px;
    margin-bottom: 265px;
}

.altkisim{
    margin-bottom: 350px;
}